# AniList OAuth — requis pour la connexion compte

ANILIST_CLIENT_ID=
ANILIST_CLIENT_SECRET=
ANILIST_REDIRECT_URI=http://localhost:5173/settings/callback

FRONTEND_URL=http://localhost:5173

API_PORT=3001

SITE_EXTENSION=to

FLARESOLVERR_URL=http://flaresolverr:8191/v1
